{% extends 'base_bootstrap.html' %}
{% load staticfiles %}

{% block title_block %}
	Add Page
{% endblock %}

{% block body_block %}
	<br />
	{% if user.is_authenticated %}
		{% if category %}
			<form role="form" id="page_form" method="POST" action="{% url 'rango:add_page' category.slug %}">
				<h1 class="form-signin-heading">Add a Page to {{ category.name }} </h1>
				{% csrf_token %}
				
				{% for hidden in form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in form.visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field.max_length }}
					{{ field }}
				{% endfor %}
				<br />
				<br />
				<button class="btn btn-primary" type="submit" name="submit">Add Page</button>
			</form>
		{% endif %}
	{% else %}
		<h1>You need to <a href="{% url 'rango:user_login' %}">login</a> to view this page</h1>
	{% endif %}
{% endblock %}

<!-- <!DOCTYPE html>
<html>
<head>
	<title>Rango</title>
</head>
<body>
	<div>
		{% if cat %}
			<h1>Add a Page to {{ category.name }} </h1>
			<form id="page_form" method="POST" action="{% url 'rango:add_page' %}">
				{% csrf_token %}
				
				{% for hidden in hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in visible_fields %}
					{{ field.errors }}
					{{ field.help_text }}
					{{ field.max_length }}
					{{ field }}
				{% endfor %}
				<input type="submit" name="submit" value="Add Page">
			</form>d
		{% endif %}
	</div>
</body>
</html> -->
