{% extends 'base_bootstrap.html' %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron">
        <h1>Rango says...</h1>
        {% if user.is_authenticated %}
            <h5>Hello, {{ user.username }}!</h5>
        {% else %}
            <h5>Hey there partner!</h5>
        {% endif %}
    </div>
    <div class="row marketing">
        <div class="col-lg-6">
            <h2>Most Liked Categories</h2>
            {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                    <li class="list-group-item">
                        <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no categories present.</strong>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2>Most Viewed Pages</h2>
            {% if pages %}
                <ul class="list-group">
                    {% for page in pages %}
                        <li class="list-group-item">
                            <a href="{{ page.url }}">{{ page.title }}</a>  - {{ page.category }} ({{ page.views }} view(s))
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div>
        <img src="{% static 'images/rango.jpg' %}" alt="Picture of rango" style="height: 350px;" />
    </div>
    <p>Visits: {{ visits }}</p>

{% endblock %}

<!-- <!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    <p>hey there partner!</p>
    <div>
        <h2>Most Liked Categories</h2>
        {% if categories %}
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        <h2>Most Viewed Pages</h2>
        {% if pages %}
            <ul>
                {% for page in pages %}
                    <li>
                        <a href="{{ page.url }}">{{ page.title }}</a>  - {{ page.category}} ({{ page.views }} view(s))
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'rango:about' %}">About</a><br />
        <a href="{% url 'rango:add_category' %}">Add Category</a><br />
        <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of rango" style="height: 350px;" />
    </div>
</body>
</html> -->
